@mixin header {
  font-family: $headers_font-family;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.01em;
  color: $text_color;

  @media screen and (max-width: 479px) {
    font-size: 40px;
    line-height: 40px;
  }
}

@mixin title {
  font-family: $headers_font-family;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: $text_color;

  @media screen and (max-width: 479px) {
    font-size: 28px;
    line-height: 32px;
  }
}

@mixin paragraph {
  font-family: $paragraph_font-family;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: $text_color;
}

@mixin link {
  font-family: $paragraph_font-family;
  transition: opacity 0.3s ease-out;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 479px) {
    @content;
  }
}
