$headers_font-family: 'Neue Machina', Arial, sans-serif;
$paragraph_font-family: 'Formular', Arial, sans-serif;
$text_color: #242424;
$page-background_color: #0A0A0A;
$additional-background_color: #B7C09D;
